.content {
  height: 100vh;
  width: 100%;
  display: flex;
}

.filters {
  height: 100%;
  width: 25%;
  border-right: 1px solid lightgray;
  color: blue;
}

.profiles {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.titreF {
  color: blue;
  margin-left: 25%;
}

.sexe {
  margin-left: 50px;
}

.card {
  color: blue;
}
